<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>{% if page.title %}{{ page.title | escape }}{% else %}{{ site.title | escape }}{% endif %}</title>
  <meta name="description" content="{% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}">
  <!-- Etiquetas SEO-->
  <meta name="keywords" content="Acarette du Biscay, Río de la Plata, Virreinato del Perú, habitantes nativos, indios, españoles, editorial Alfer & Vays, textos coloniales, ediciones digitales de textos históricos, viajes coloniales, viajes por América">
  <meta name="author" content="Ascarate du Biscay, Gimena del Rio Riande, Nidia Hernández, Romina De León">
  <meta name="geo.placename" content="Río de la Plata, Perú">
  <meta name="language" content="es">
  <meta name="robots" content="index, follow">
  <meta name="distribution" content="global">
  <meta name="classification" content="historia, viajes, América del Sur">

  <!-- Etiquetas HW para Scholar--> 
  <meta name="citation_publisher" content="HD Lab CONICET"/>
  <meta name="citation_author" content="Ascarate du Biscay"/>
  <meta name="citation_author" content="Gimena del Rio Riande"/>
  <meta name="citation_author_institution" content="CONICET"/>
  <meta name="citation_author_orcid" content="https://orcid.org/0000-0002-8997-5415"/>
  <meta name="citation_author" content="Nidia Hernández"/>
  <meta name="citation_author_institution" content="CONICET"/>
  <meta name="citation_author" content="Romina De León"/>
  <meta name="citation_author_institution" content="CONICET"/>
  <meta name="citation_title" content="Relación de un viaje al Río de la Plata y de allí por tierra al Perú con observaciones sobre los habitantes, sean indios o españoles, las ciudades, el comercio, la fertilidad y las riquezas de esta parte de América"/>
  <meta name="citation_language" content="es"/>
  <meta name="citation_date" content="1943"/>
  <meta name="citation_firstpage" content="1"/>
  <meta name="citation_lastpage" content="79"/>
  <meta name="citation_doi" content=""/>
  <meta name="citation_abstract_html_url" content="https://hdlab.space/Relacion-de-un-viaje/"/>
  <meta name="citation_abstract" xml:lang="es" content="Acarette du Biscay visitó el Río de la Plata en dos ocasiones: la primera, entre 1657 y 1658, dirigiéndose luego por tierra a Potosí; la segunda, aproximadamente hacia 1660. Ofrecemos aquí la Relación de un viaje al Río de la Plata y de allí por tierra al Perú con observaciones sobre los habitantes, sean indios o españoles, las ciudades, el comercio, la fertilidad y las riquezas de esta parte de América, publicada en 1943 en Buenos Aires por la editorial Alfer & Vays sobre la traducción inglesa del texto, del año 1698. Esta edición digital es el resultado del proyecto Pelagios al Sur llevado a cabo gracias al apoyo del consorcio Pelagios Network."/>
  <meta name="citation_keywords" xml:lang="es" content="Acarette du Biscay"/>
  <meta name="citation_keywords" xml:lang="es" content="Río de la Plata"/>
  <meta name="citation_keywords" xml:lang="es" content="Virreinato del Perú"/>
  <meta name="citation_keywords" xml:lang="es" content="Habitantes nativos"/>
  <meta name="citation_keywords" xml:lang="es" content="Indios"/>
  <meta name="citation_keywords" xml:lang="es" content="Españoles"/>
  <meta name="citation_keywords" xml:lang="es" content="Editorial Alfer & Vays"/>
  <meta name="citation_keywords" xml:lang="es" content="Textos coloniales"/>
  <meta name="citation_keywords" xml:lang="es" content="Ediciones digitales de textos históricos"/>
  <meta name="citation_keywords" xml:lang="es" content="Viajes coloniales"/>
  <meta name="citation_keywords" xml:lang="es" content="Viajes por América"/>
  <meta name="citation_pdf_url" content="https://hdlab.space/Relacion-de-un-viaje/assets/du_Biscay-1698-en.pdf"/>
  <meta name="citation_reference" content="Acarette. Relation des voyages du sieur… dans la rivière de la Platte, et de là par terre au Pérou, et des observations qu’il ya faites, en Relation de divers voyages curieux. Relation de divers voyages curieux, qui n’ont point esté publiées ou qui ont esté traduites d’Hacluyt, de Purchas et d’autres voyageurs anglois, hollandois, portugais, allemands, espagnols et de quelques persans, arabes et autres auteurs orientaux…, vol. 4, 1663, pp. 19–40. Bibliothèque nationale de France."/>
  <meta name="citation_reference" content="du Biscay, Acarete. An Account of a voyage up the river de la Plata, and thence over land to Peru. With observations on the inhabitants, as well Indians and Spaniards; the cities, commerce, fertility, and riches of that part of America. Voyages and Discoveries in South America, vol. II, S. Buckley, 1698. World Digital Library."/>
  <meta name="citation_reference" content="du Biscay, Acarete. Relación de los viajes de Monsieur Acarete du Biscay al Rio de la Plata y desde aquí por tierra hasta  el Perú, con observaciones sobre estos paises. La Revista de Buenos Aires, vol. 13, 1867. Sistema Argentino de Información Jurídica."/>
  <meta name="citation_reference" content="du Biscay, Acarete. Relación de un viaje al Río de la Plata y de allí por tierra al Perú con observaciones sobre los habitantes, sean indios o españoles, las ciudades, el comercio, la fertilidad y las riquezas de esta parte de América. Biblioteca Virtual Miguel de Cervantes, 2001."/>
  <meta name="citation_reference" content="Altuna, Elena. “Acarette du Biscay: Los vulnerables límites del imperio. Revista de crítica literaria latinoamericana (2004): 189-207."/>
  <meta name="citation_reference" content="Azara, Félix de. Apuntamientos para la historia natural de los páxaros del Paragüay y Rio de la Plata [Texto impreso] / escritos por Felix de Azara ; Tomo primero Tomo tercero."/>
  <meta name="citation_reference" content="Bru de Ramón, Juan Bautista. Coleccion de laminas que representan los animales y monstruos del Real Gabinete de Historia Natural de Madrid, con una descripcion individual de cada uno [Texto impreso] / por Juan Bautista Bru de Ramon ; Tomo I Tomo II."/>
  <meta name="citation_reference" content="Pereira, Magnus Roberto de Mello. Las cosas singulares de piedras, animales, plantas: la formación y el funcionamiento de la red imperial española de remesas centíficas en el Virreinato del Río de la Plata. An. mus. paul. online. 2013, vol.21, n.1 [cited 2020-05-08], pp.91-138."/>
  <meta name="citation_reference" content="Von Humboldt, Alexander. Voyage de Humboldt et Bonpland"/>
  <meta name="citation_reference" content="A Map of the provinces Paraguay and Tucuman with the River Plate, S. Buckley, 1698"/>
  <meta name="citation_reference" content="Carte du courant qui sort par le Canal de Bahama, appele Gulf-Stream., Veuve Agasse, 1827"/>
  <meta name="citation_reference" content="Paraqvaria Vulgo Paragvay, Joan Blaeu, 1665"/>
  <meta name="citation_reference" content="Terra Firma et Novum Regnum Granatense et Popayan., Willem Janszoon Blaeu, 1630"/>
  <meta name="citation_reference" content="Paraguay, O Prov. de Rio de la Plata., Willem Janszoon Blaeu, 1630"/>

   <!-- Etiquetas DC para Scholar--> 
  <link rel="schema.DC" href="http://purl.org/dc/elements/1.1/" />
  <meta name="DC.Contributor.Sponsor" xml:lang="en" content="none"/>
  <meta name="DC.Contributor.Sponsor" xml:lang="es" content="ninguno"/>
  <meta name="DC.Creator.PersonalName" content="Ascarate du Biscay"/>
  <meta name="DC.Creator.PersonalName" content="Gimena del Rio Riande"/>
  <meta name="DC.Creator.PersonalName" content="Nidia Hernández"/>
  <meta name="DC.Creator.PersonalName" content="Romina De León"/>
  <meta name="DC.Date.created" scheme="ISO8601" content="1943"/>
  <meta name="DC.Description" xml:lang="es" content="Acarette du Biscay visitó el Río de la Plata en dos ocasiones: la primera, entre 1657 y 1658, dirigiéndose luego por tierra a Potosí; la segunda, aproximadamente hacia 1660. Ofrecemos aquí la Relación de un viaje al Río de la Plata y de allí por tierra al Perú con observaciones sobre los habitantes, sean indios o españoles, las ciudades, el comercio, la fertilidad y las riquezas de esta parte de América, publicada en 1943 en Buenos Aires por la editorial Alfer & Vays sobre la traducción inglesa del texto, del año 1698. Esta edición digital es el resultado del proyecto Pelagios al Sur llevado a cabo gracias al apoyo del consorcio Pelagios Network."/>
  <meta name="DC.Format" scheme="IMT" content="application/pdf"/>
  <meta name="DC.Identifier.pageNumber" content="1-79"/>
  <meta name="DC.Identifier.DOI" content=""/>
  <meta name="DC.Identifier.URI" content="https://hdlab.space/Relacion-de-un-viaje/"/>
  <meta name="DC.Language" scheme="ISO639-1" content="es"/>
  <meta name="DC.Rights" content="HD Lab CONICET"/>
  <meta name="DC.Rights" content="http://creativecommons.org/licenses/by/4.0"/>
  <meta name="DC.Source" content="HD Lab CONICET"/>
  <meta name="DC.Source.ISSN" content="1668-0001"/>
  <meta name="DC.Source.URI" content="https://hdlab.space/Relacion-de-un-viaje/"/>
  <meta name="DC.Subject" xml:lang="es" content="Acarette du Biscay"/>
  <meta name="DC.Subject" xml:lang="es" content="Río de la Plata"/>
  <meta name="DC.Subject" xml:lang="es" content="Virreinato del Perú"/>
  <meta name="DC.Subject" xml:lang="es" content="Habitantes nativos"/>
  <meta name="DC.Subject" xml:lang="es" content="Indios"/>
  <meta name="DC.Subject" xml:lang="es" content="Españoles"/>
  <meta name="DC.Subject" xml:lang="es" content="Editorial Alfer & Vays"/>
  <meta name="DC.Subject" xml:lang="es" content="Textos coloniales"/>
  <meta name="DC.Subject" xml:lang="es" content="Ediciones digitales de textos históricos"/>
  <meta name="DC.Subject" xml:lang="es" content="Viajes coloniales"/>
  <meta name="DC.Subject" xml:lang="es" content="Viajes por América"/>
  <meta name="DC.Title" content="Relación de un viaje al Río de la Plata y de allí por tierra al Perú con observaciones sobre los habitantes, sean indios o españoles, las ciudades, el comercio, la fertilidad y las riquezas de esta parte de América"/>
  <meta name="DC.Type" content="Text"/>

  {% assign user_url = site.url | append: site.baseurl %}
  {% assign full_base_url = user_url | default: site.github.url %}
  <link rel="stylesheet" href="{{ "/assets/style.css" | prepend: full_base_url }}">
  <link rel="stylesheet" href="{{ "/assets/bootstrap.css" | prepend: full_base_url }}">
  <link rel="stylesheet" href="{{ "/assets/map-balloon.css" | prepend: full_base_url }}">

  <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
  <link rel="alternate" type="application/rss+xml" title="{{ site.title }}" href="{{ "/feed.xml" | prepend: site.baseurl | prepend: site.url }}">


  <link rel="apple-touch-icon" sizes="180x180" href="{{ '/assets/img/icons/apple-touch-icon.png?v=qA3OXqyw77' | relative_url }}">
  <link rel="icon" type="image/png" sizes="32x32" href="{{'/assets/img/icons/favicon-32x32.png?v=qA3OXqyw77' | relative_url }}">
  <link rel="icon" type="image/png" sizes="16x16" href="{{'/assets/img/icons/favicon-16x16.png?v=qA3OXqyw77' | relative_url }}">

  <script async defer src="https://buttons.github.io/buttons.js"></script>

  <link rel="stylesheet" href="https://unpkg.com/leaflet@1.6.0/dist/leaflet.css"
   integrity="sha512-xwE/Az9zrjBIphAcBb3F6JVqxf46+CDLwfLMHloNu6KEQCAWi6HcDUbeOfBIptF7tcCzusKFjFw2yuvEpDL9wQ=="
   crossorigin=""/>
  <script src="https://unpkg.com/leaflet@1.6.0/dist/leaflet.js"
   integrity="sha512-gZwIG9x3wUXg2hdXF6+rVkLF/0Vi9U8D2Ntg4Ga5I5BZpVkVxlJWbSQtXPSiUTtC0TjtGOmxa1AJPuV0CPthew=="
   crossorigin=""></script>

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="{{ site.baseurl }}/assets/js/bootstrap.min.js"></script>
  <script src="https://kit.fontawesome.com/2ed8463a5f.js" crossorigin="anonymous"></script>

  <!-- MEMODRAW -->
  <script src="https://www.memodraw.com/api/memodraw-context-menu.min.js"></script>
  <link rel="stylesheet" href="https://www.memodraw.com/api/memodraw-context-menu.css" />

</head>
