
    <!-- Modal-->
    <div class="modal fade" id="portfolioModal-{{personaje.lnk}}" role="dialog">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h4 class="modal-title">{{personaje.nombre}}</h4>
          </div>
          <div class="modal-body">
            <p>{{personaje.content}}</p> 
            <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
          </div>
        </div>
      </div>
    </div>