---
layout: page
title: Flora y fauna
permalink: /acarete-flora-fauna/
type: extras
description: Árboles, plantas y animales mencionados en el texto de Acarete
---

<p>A continuación, una muestra de algunos de los especímenes animales y vegetales mencionados en el texto de Acarete du Biscay.</p>
<p>Haga click en las imágenes para ver más información.</p>

  <div class="post-list" itemscope="" itemtype="http://schema.org/Blog">
    {% for personaje in site.flora_fauna %}
      {% include card.html %}
    {% endfor %}
  </div>

  {% for personaje in site.flora_fauna %}
    {% include modal.html %}
  {% endfor %}
